body {
   font-family: Arial, Helvetica, sans-serif; 
   background-color: rgb(215, 239, 246);
   overflow: hidden;
}   
main{
    margin-top: 70px;
    margin-left: 10px;
    position: relative;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 231, 233);
    border-radius: 8px;
    box-shadow: inset 2px 2px rgb(193, 188, 188);
}
.page-title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15%;
    left: 2px;
    color:  rgb(39, 164, 247);
    background-color:  rgb(217, 241, 245); 
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    height: 40px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
} 
.page-title:hover{
    border: 1px solid rgb(165, 163, 163);
    cursor: pointer;
    background-color: rgb(225, 237, 248);
}
.all-ltrs{
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    left: 50%;
    top: 2%;
    height: 80px;
    width: 368px;
    border: none;
}  
.current-ltrs{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 44%;
    top: 18.5%;
    height: 20px;
}
.current-ltrs div{
    font-size: small;
    cursor: pointer;
}
.current-ltrs div:hover .tool-tip{
    opacity: 1;
    transition: .5s;
}
.c-ltrs{
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 18px;
    border: 1px solid rgb(20, 20, 20);
    background-color:  rgb(217, 241, 245);;
    border: 1px solid gray;
    border-left: none;
}
.c-ltrs div{
    border-left: 1px solid gray;
    padding: 2px;
    height: 15px;
    width: 12px;
    align-self: center;
    display: flex;
    justify-content: center;
    color: rgb(66, 60, 60);
    align-items: center;
}
.key-sec{
    position: absolute;
    display: flex;
    left: 50%;
    top: 9%;
}
.key-sec div{
    font-size: 9px;
}
.key-sec div span{
    color: rgb(17, 17, 17);
    font-size: 7px;
}
.not-clbrtd, .low, .average, .standard{
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
    justify-content: center;
}
.not-clbrtd div{
    background-color: gray;
}
.low div{
    background-color: red;
}
.average div{
    background-color: goldenrod;
}
.standard div{
    background-color: blue;
}
.not-clbrtd div, .low div, .average div, .standard div{
    height: 15px;
    width: 15px;
}
.all-ltrs div{
    display: block;
    font-size: small;
    height: 10px;
    width: 10px;
    margin: 2px;
}
.all-ltrs div .clbn{
    width: 8px;
    height: 8px;
    margin-top: 4px;
    background-color: rgb(145, 144, 144);
    border-radius: 50%;
}
.all-ltrs p{
    position: absolute;
    top: -16%;
    left: -17%;
    font-size: small;
}
.all-ltrs .clbrtn{
    position: absolute;
    top: 2%;
    left: -19%;
    font-size: small;
}
.key{
    position: absolute;
    top: 39%;
    left: -9%;
    width: 200px;
    font-size: small;
}
.word-section-cont{
    height: 200px;
    width: 650px;
    position: relative;
    background-color: rgb(217, 241, 245); 
    border: 1px solid rgb(11, 10, 10);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px; 
    z-index: 8; 
}
.word-section{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 440px;
    min-height: 100px;
    background-color: rgba(201, 215, 217, 0.703);
    border-radius: 10px;
    color: rgb(48, 45, 45);
    padding: 4px;
}
.charDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 0;
    height: 18px;
    padding: 4px;
    color: rgb(110, 101, 101);
    background-color:  rgb(217, 241, 245); ;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 4px;
    cursor: pointer; 
}
.word-container{
   padding: 3px;
   display: flex;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 4px;
   height: 24px;
   align-items: center;
   justify-content: center;
}
.white-space {
    border: none;
    width: 0;
    height: 0;
    align-self: center;
    background-color: rgb(155, 205, 205);   
}
.stp-on-err{
    position: absolute;
    display: flex;
    cursor: pointer;
    top: 3%;
    left: 18%;
    font-size: 2.5vh;
}
.stp-on-err .tool-tip{
    position: absolute;
    left: 70px;
    top: -6px;
    font-size: small;
}
.stp-on-err:hover .tool-tip{
    opacity: 1;
    transition: .5s;
}
.stpIn{
    cursor: pointer;
    background-color:  rgb(39, 164, 247);;
}
.stp-on-err input:focus-visible {
    outline: none;
}
.set-sess-dur-sec{
    position: absolute;
    display: flex;
    cursor: pointer;
    font-size: 2vh;
    top: 9%;
    left: 18%;
}
.set-sess-dur-sec .tool-tip{
    position: absolute;
    left: 108px;
    top: -11px;
}
.set-sess-dur-sec:hover .tool-tip{
    opacity: 1;
    transition: .5s;
}

#select{
    background-color: rgb(39, 164, 247);
    color: white;
    align-self: center;
    font-size: 2.5vh;
    display: flex;
    height: 15px;
    width: px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#select:focus-visible{
    outline: none;
}
.daily-goal-section {
    position: absolute;
    display: flex;
    align-items: center;
    height: 18px;
    width: 260px;
    border: 1px solid rgb(20, 20, 20);
    background-color:  rgb(217, 241, 245);
    border-radius: 2px;
    margin: 2px;
    padding-left: 2px;
    font-size: 2vh;
    top: 17%;
    left: 18%;
}
.bravo-m{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 3px;
    height: 40px;
    width: 90px;
    white-space: wrap;
    font-size: 10px;
    bottom: 25px;
    background-color: rgb(217, 241, 245);
    left: 68%;
    display: none;
    transition: 1s;
}
.daily-goal-section p {
    width: 170px;
}
.progress-bar {
    height: 18px;
    border-left:1px solid black;
    margin-left: 4px;
    background-color:  rgb(21, 203, 235);
}
.chars-calc {
    margin-left: 3px;
    color: rgb(73, 68, 68);
}

.correct-ltr-typed {
    color: rgba(19, 18, 18, 0.661);
}
.chars-actv-msg{
  display: none;
}
.click-to-strt-btn, .chars-actv-msg{
    cursor: pointer;
    position: absolute;
    border: none;
    font-size: 2.5vmin;
    color:white;
    border-radius: 4px;
    background-color: rgb(21, 203, 235);
    top: 2%;
    left: 2%;
    z-index: 9;
}
.click-to-strt-btn:hover{
    background-color: rgb(22, 187, 208);
    border: 1px solid rgb(191, 190, 190);
}
.timer {
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(21, 203, 235);
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    top: -19%;
    right: -1%;
}
.click-to-strt-btn:hover .tool-tip{
    opacity: 1;
    transition: 0.8s;
}
.restart-btn{
    background-color: rgb(221, 249, 250);
    border-radius: 4px;
}
.restart-btn:hover .tool-tip{
    opacity: 1;
    transition: 0.7s;
}
.tool-tip{
    pointer-events: none;
    position: absolute;
    z-index: 12;
    color: white;
    background-color: gray;
    padding: 4px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
}
.restart-btn {
    position: absolute;
    left: 30%;
    top: 47% ;
    border: none;
    display: none;
    cursor: pointer;
}
.speed-sec{
    height: 80px;
    width: 80px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(204, 231, 233);
    color: rgb(118, 60, 131);
    position: absolute;
    right: 3%;
    top: 4%;
    border: 1px solid  rgb(153, 144, 144);
    border-radius: 50%;
    display: none;
}
.accuracy-sec{
    height: 80px;
    width: 80px;
    font-size: large;
    font-weight: bold;
    background-color:rgb(204, 231, 233);
    color: rgb(118, 60, 131);
    position: absolute;
    border: 1px solid rgb(153, 144, 144);
    border-radius: 50%;
    right: 3%;
    top: 52%;
    align-items: center;
    justify-content: center;
    display: none;
}
.speed-acc-active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accuracy-txt{
    position: absolute;
    right: 17%;
    top: 56%;
    color: rgb(29, 29, 27);
    display: none;
    font-size: larger;
    font-weight: lighter;
}
.speed-txt{
    position: absolute;
    right: 17%;
    top: 10%;
    color: rgb(29, 29, 27);
    font-weight: lighter;
    font-size: larger;
    display: none;
}
.spd-acc-txt-actv{
    display: flex;
}
