body {
   font-family: Arial, Helvetica, sans-serif; 
   background-color: rgb(215, 239, 246);
   overflow: scroll;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
}   
main{
    justify-self: center;
    margin-top: 50px;
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgb(193, 224, 226);
    border-radius: 8px;
    border: 1px solid gray;
}
.main-section{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding-top: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid rgb(190, 186, 186);
    background-color: rgb(204, 231, 233);
    color:  rgb(39, 164, 247);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
} 
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 30px;
    font-weight: 700;
    border: 3px solid white;
    margin-bottom: 10px;
    border-radius: 50%;
    animation: rotate 5s ease-in-out infinite;
}
.dot1, .dot2{
    position: absolute;
    width: 6px;
    height: 6px; 
    border-radius: 50%;
}
.dot1{
    top: 25%;
    left: 18%;
    background-color: rgb(11, 152, 234);
}
.dot2{
    bottom: 20%;
    right: 8%;
    background-color: rgb(11, 152, 234);
}
@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.pg-title{
    border: 1px solid rgb(204, 201, 201);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.pg-title:hover{
    color: rgb(136, 0, 255);
}
.menu{
    width: 30px;
    cursor: pointer;
}
.menu img{
    width: 100%;
}
.page-title:hover{
    cursor: pointer;
    background-color: rgb(246, 251, 255);
}
.utils-sec{
    display: flex;
    justify-content: center;
    column-gap: 2px;
    margin-left: 5px;
}
.first-util-sec{
    margin-right: 6px;
}
.all-ltrs{
   position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
    height: 40px;
    border: none;
}  
.current-ltrs{
    display: flex;
    align-items: center;
    margin: 5px;
    height: 20px;
}
.focus-checker{
    font-size: small;
    color: red;
    margin-left: 10px;
    display: none;
}
.focus-checker-hidden{
    opacity: 0;
}
.focus-checker-visible{
    opacity: 1;
}
.current-ltrs div{
    font-size: small;
    cursor: pointer;
}
.c-ltrs{
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 18px;
    margin-left: 4px;
    border: 1px solid rgb(20, 20, 20);
    background-color:  rgb(217, 241, 245);;
    border: 1px solid gray;
    border-left: none;
}
.c-ltrs div{
    border-left: 1px solid gray;
    padding: 2px;
    height: 15px;
    width: 12px;
    align-self: center;
    display: flex;
    justify-content: center;
    color: rgb(66, 60, 60);
    align-items: center;
}
.key-sec{
    display: flex;
}
.key-sec div{
    font-size: 9px;
}
.key-sec div span{
    color: rgb(17, 17, 17);
    font-size: 7px;
}
.not-clbrtd, .low, .average, .standard{
    display: flex;
    flex-direction: column;
    margin: 4px;
    align-items: center;
    justify-content: center;
}
.not-clbrtd div{
    background-color: gray;
}
.low div{
    background-color: red;
}
.average div{
    background-color: goldenrod;
}
.standard div{
    background-color: blue;
}
.not-clbrtd div, .low div, .average div, .standard div{
    height: 15px;
    width: 15px;
}
.ltrs-cont div{
    font-size: small;
    height: 10px;
    width: 10px;
    margin: 2px;

}
.ltrs-cont{
    display: flex;
    margin-left: 75px;
}
.all-ltrs div .clbn{
    width: 8px;
    height: 8px;
    margin-top: 4px;
    background-color: rgb(145, 144, 144);
    border-radius: 50%;
}
.all-ltrs p{
    font-size: small;
}
.all-ltrs .clbrtn{
    font-size: small;
}
.clbrtn-txt{
    position: absolute;
    top: 12%;
}
.all-ltrs-txt{
    position: absolute;
    top: -26%;
}
.key{
    margin-right: 10px;
    font-size: small;
}
.typing-sec{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
.typing-sec-nav-tools{
    display: flex;
    align-items: center;
    position: relative;
}
.word-section-cont{
    max-width: 700px;
    position: relative;
    background-color: rgb(217, 241, 245); 
    border: 1px solid rgb(11, 10, 10);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px; 
    z-index: 8; 
}
.word-section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;
    background-color: rgba(201, 215, 217, 0.703);
    border-radius: 10px;
    color: rgb(48, 45, 45);
    padding: 4px;
}
.charDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 0;
    height: 18px;
    width: 18px;
    padding: 4px;
    color: rgb(110, 101, 101);
    background-color:  rgb(217, 241, 245); ;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 50%;
    cursor: pointer; 
}
.word-container{
   padding: 3px;
   display: flex;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 4px;
   height: 24px;
   align-items: center;
   justify-content: center;
}
.white-space {
    border: none;
    width: 1px;
    height: 1px;
    background-color: rgb(155, 205, 205);   
}
.stp-on-err{
    display: flex;
    width: 140px;
    position: relative;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
}
.stpIn{
    cursor: pointer;
    background-color:  rgb(39, 164, 247);;
}
.stp-on-err input:focus-visible {
    outline: none;
}
.set-sess-dur-sec{
    display: flex;
    position: relative;
    cursor: pointer;
    width: 210px;
    font-size: 12px;
}
.stp-on-err p, .set-sess-dur-sec p,
.ltr-emmtr p{
    margin: 5px;
}
#select{
    background-color: rgb(39, 164, 247);
    color: white;
    align-self: center;
    font-size: 13px;
    display: flex;
    height: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4px;
}
#select:focus-visible{
    outline: none;
}
.daily-goal-section {
    display: flex;
    align-items: center;
    height: 18px;
    width: 255px;
    border: 1px solid rgb(20, 20, 20);
    background-color:  rgb(217, 241, 245);
    border-radius: 2px;

    margin-top: 8px;
    padding-left: 2px;
    font-size: 10px;
    overflow: hidden;
}
.bravo-m{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 3px;
    height: 40px;
    width: 90px;
    white-space: wrap;
    font-size: 10px;
    bottom: 25px;
    background-color: rgb(217, 241, 245);
    left: 68%;
    display: none;
    transition: 1s;
}
.daily-goal-section p {
    width: 170px;
}
.progress-bar {
    height: 18px;
    border-left:1px solid black;
    margin-left: 4px;
    background-color:  rgb(21, 203, 235);
}
.chars-calc {
    margin-left: 3px;
    color: rgb(73, 68, 68);
}

.correct-ltr-typed {
    color: rgba(19, 18, 18, 0.661);
}
.chars-actv-msg{
  display: none;
}
.click-to-strt-btn, .chars-actv-msg{
    cursor: pointer;
    border: none;
    font-size: .8em;
    height: 24px;
    margin-left: 10px;
    margin-bottom: 7px;
    color:white;
    border-radius: 4px;
    background-color: rgb(21, 203, 235);
    top: 2%;
    left: 2%;
    z-index: 9;
}
.click-to-strt-btn:hover{
    background-color: rgb(22, 187, 208);
    border: 1px solid rgb(191, 190, 190);
}
.timer {
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(21, 203, 235);
    border-radius: 50%;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    top: -50px;
    right: 0;
}

.ltr-emmtr:hover .tool-tip,
.current-ltrs:hover .tool-tip,
.stp-on-err:hover .tool-tip,
.set-sess-dur-sec:hover .tool-tip,
.set-sess-dur-sec:hover .tool-tip,
.click-to-strt-btn:hover .tool-tip,
.restart-btn:hover .tool-tip{
    opacity: 1;
}
.tool-tip{
    pointer-events: none;
    position: absolute;
    bottom: -25px;
    z-index: 12;
    color: white;
    background-color: gray;
    padding: 4px;
    border-radius: 4px;
    transition: 0.7s;
    opacity: 0;
    white-space: nowrap;
}
.restart-btn {
    position: absolute;
    left: 50%;
    top: 50% ;
    transform: translate(-50%, -50%);
    background-color: rgb(204, 231, 233);
    border-radius: 4px;
    border: none;
    display: none;
    cursor: pointer;
}
.accuracy-speed-cont{
    display: flex;
    flex-grow: 1;
   
    justify-content: space-between;
    column-gap: 4px;
}
.speed-sec-cont{
    display: flex;
    align-items: center;
}
.accuracy-sec-cont{
    display: flex;
    align-items: center;
}
.speed-sec{
    height: 80px;
    width: 80px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(204, 231, 233);
    color: rgb(118, 60, 131);
    border: 1px solid  rgb(153, 144, 144);
    border-radius: 50%;
    display: none;
}
.accuracy-sec{
    height: 80px;
    width: 80px;
    font-size: large;
    font-weight: bold;
    background-color:rgb(204, 231, 233);
    color: rgb(118, 60, 131);
    border: 1px solid rgb(153, 144, 144);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: none;
}
.speed-acc-active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accuracy-txt{
    color: rgb(29, 29, 27);
    display: none;
    font-size: larger;
    font-weight: lighter;
}
.speed-txt{
    color: rgb(29, 29, 27);
    font-weight: lighter;
    font-size: larger;
    display: none;
}
.spd-acc-txt-actv{
    display: flex;
}
.footer{
    justify-content: center;
    width: 100%;
    font-size: 13px;
    display: flex;
    column-gap: 10%;
}
.footer div{
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.footer div img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.footer div:hover,
.footer p:hover{
    color: rgb(136, 0, 255);
    cursor: pointer;
}
