@media(max-width:782px){
    .utils-sec{
        flex-direction: column;
    }
    body{
        height: unset;
    }
    main{
         margin-top: 70px;
    }
}
@media(max-width:460px){
    .typing-sec{
        width: 80vw;
    }
}
@media(max-width:350px){
    .typing-sec{
        width: 75vw;
    }
}
@media(max-width:390px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:352px){
    .click-to-strt-btn{
        height: 30px;
        margin-bottom: 3px;
    }
}
@media(min-width: 1300px){
    main{
        max-width: 1200px;
    }
}
